.dots-loader {
  display: flex;
  gap: 6px;
}

.dots-loader div {
  width: 10px;
  height: 10px;
  background: var(--primary);
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.dots-loader.dark div {
  background: #fff;
}

.dots-loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.dots-loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-8px);
    opacity: 0.4;
  }
}